:root {
  /* For Media Querry! */
  /* Not Changble Line (1-20) */
  --AllNone-Margin: 0px 0px 0px 0px;
  --AllNone-Padding: 0px 0px 0px 0px;
  --AllUniversal-Color: #bee9e5;
  /* Header Box Shadow */
  --Header-BoxShadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.75);
  /* Outer Contant Box Shadow */
  --OuterContantBox-BoxShadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  /* Deeper Of Contant Box Shadow */
  --DeepContantBox-BoxShadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  /* == */

  /* Deeper Of Contant (Box) */
  --DeepContant-FontSize: clamp(0.7rem, 3vw, 1.3rem);
  --DeepContant-Border: 0.3vh solid rgb(0, 0, 0);
  --DeepContant-BorderRadius: 2vh;
  --DeepContant-Height: 7vh;
  --DeepContant-Width: 37vw;
  --DeepContant-Padding: 2vh 5vw 2vh 5vw;
  --DeepContant-Gap: 1vh;
  --DeepContant-FontSize: clamp(1rem, 3vw, 1.8rem);
  /* Outer Of Contant (Box Out) */
  --ContantOut-Border: 0.3vh solid rgb(0, 0, 0);
  --ContantOut-BorderRadius: 4vh;
  --ContantOut-PaddiingOut: 2vh 5vw 2vh 5vw;
  /* Header section (Upper) */
  --Header-Padding: 1vh 5vw 1vh 5vw;
  --Header-Gap: 1vw;
  --Header-FontSize: clamp(0.7rem, 3vw, 1.3rem);
  /* For Contant Section (Writing) */
  --Contant-Padding: 2vh 5vw 2vh 5vw;
  --Contant-Gap: 2vh;
  /* For all Image */
  --HeaderImage-Heightwidth: clamp(2vh, 3vw, 3.7vh);
  --ThreeDotHeaderImage-Heightwidth: clamp(2vh, 3vw, 3.7vh);
  --AppleThreeDotCrossImage-Heightwidth: clamp(3vh, 3.5vw, 4vh);
  /* For Font */
  --HeaOne-FontSize: clamp(1.5rem, 4vw, 2.5rem);
  --HeaTwo-FontSize: clamp(1rem, 3vw, 2rem);
  --Para-FontSize: clamp(0.8rem, 2vw, 1.5rem);
}
* {
  padding: var(--AllNone-Padding);
  margin: var(--AllNone-Margin);
}
body {
  font-family: sans-serif;
  height: 1000vh;
  font-size: calc(100% / 2);
}
h1 {
  font-size: var(--HeaOne-FontSize);
}
h2 {
  font-size: var(--HeaTwo-FontSize);
}
p {
  font-size: var(--Para-FontSize);
}
body header {
  position: sticky;
  top: 0px;
}
[class^="HeaderContainer"] {
  box-shadow: var(--Header-BoxShadow);
  font-size: var(--Header-FontSize);
  background-color: var(--AllUniversal-Color);
  padding: var(--Header-Padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
img[src="./SVG/flex'r logo header.svg"] {
  height: var(--HeaderImage-Heightwidth);
}
img[src="./SVG/github icon header.svg"] {
  height: var(--HeaderImage-Heightwidth);
}
img[src="./SVG/3dot icon header.svg"] {
  height: var(--ThreeDotHeaderImage-Heightwidth);
}
img[src="./SVG/apple display cross icon three.svg"] {
  height: var(--AppleThreeDotCrossImage-Heightwidth);
}
.HeaderContainerOne :first-child {
  display: flex;
  flex-direction: row;
  gap: var(--Header-Gap);
  align-items: center;
  justify-content: center;
}
.HeaderContainerOne :last-child {
  display: flex;
  flex-direction: row;
  gap: var(--Header-Gap);
  align-items: center;
  justify-content: center;
}
header section a {
  color: #000;
  text-decoration: none;
}
.HeaderContainerTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5vw 0px 5vw;
}
/*  */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 15vh;
  left: 0;
  background-color: var(--AllUniversal-Color);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 10%;
  /* width: 100%; */
  /* margin-top: 30px; */
  text-align: center;
  /*  */
  padding: var(--Header-Padding);
}
.overlay-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
}
.overlay-content a {
  height: 5.5vh;
  width: 15vw;
  border: 0.3vh solid rgb(0, 0, 0);
  border-radius: var(--DeepContant-BorderRadius);
  background-color: var(--AllUniversal-Color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.overlay a {
  padding: var(--Header-Padding);
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
  /*  */
  font-size: clamp(0.7rem, 3vw, 1.3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay a:hover,
.overlay a:focus {
  color: #0e4134;
  box-shadow: var(--DeepContantBox-BoxShadow);
}
.overlay .closebtn {
  position: absolute;
  font-size: clamp(3rem, 5vw, 7rem);
}
/*  */
.SectionOne {
  padding: var(--Contant-Padding);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--Contant-Gap);
}
.SectionTwo {
  border: var(--ContantOut-Border);
  border-radius: var(--ContantOut-BorderRadius);
  /* box-shadow: var(--OuterContantBox-BoxShadow); */
  background-color: var(--AllUniversal-Color);
  padding: var(--DeepContant-Padding);
  display: flex;
  flex-direction: column;
  gap: var(--Contant-Gap);
}
.SectionTwoPart-One {
  display: flex;
  justify-content: space-between;
}
#SectionTwoPart-One-Font {
  font-size: (0.7rem, 3vw, 1.3rem);
}
.SectionTwoPart-Two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--DeepContant-Gap);
}
.SectionTwoPart-Two a {
  font-size: var(--DeepContant-FontSize);
  height: var(--DeepContant-Height);
  width: var(--DeepContant-Width);
  border: var(--DeepContant-Border);
  border-radius: var(--DeepContant-BorderRadius);
  background-color: var(--AllUniversal-Color);
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.SectionTwoPart-Two a:hover,
.SectionTwoPart-Two a:focus {
  color: #0e4134;
  box-shadow: var(--DeepContantBox-BoxShadow);
}
.SectionTwoForPadding {
  padding: var(--ContantOut-PaddiingOut);
}
